.container{
    display: grid;
    grid-template-rows: repeat(3, 30px);
    grid-template-columns: 300px;
    grid-row-gap: 50px;

}

.Hello{
    background-color: red;
    color: white;
    height: 80px;
    font-size: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#name{
    background-color: lightgray;
    height: 80px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: black;
    font-family: cursive;

}

.bottom-border{
    border: 25px solid red;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
